@import "trans.css";
@import "profile.css";
@import "dep.css";
@import "sell.css";

body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 80%;
}


/* Main info */
.dashboard {
    border: 2px;
    border-radius: 30px;
    background: black;
    display: flex;
    width: 370px;
    position: fixed;
    max-height: 700px;
    

}

/* Navigation */
.dashboard-nav {
    flex-shrink: 0;
    width: 70px;
    height: 550px;
    background: rgb(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 50px;
}


.dashboard-body {
    margin: 5px 5px 8px 3px;
    padding: 15px 15px 5px 15px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    flex-grow: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.nav-logo {
    margin-bottom: 70px;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;

}

.last-icon {
    margin-top: 300px;
    background-color: #26941c;
}

.nav-icons {
    flex-grow: 1;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

ul.nav-icons-list {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-between;

}

li, a {
    margin: 0;
    padding: 0;
}

/* Logo */

#logo {
    background-color: #ffffff;
    border-radius: 100%;
}

.nav-icons i {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 15px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;

}

.header-title {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.dashboard-tokens {
    margin-top: 30px;
    position: relative;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}



.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    outline: none;
    font-size: 25px;
    width: 100%;
    padding: 10px;
    padding-right: 0;
    border: none;
    border-bottom: solid 2px;
    text-align-last: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.token-selection {
    position: relative;
}

.tokens-selection::before {
    color: #26941c;
    font-weight: bold;
    content: "$";
    top: 8px;
    font-size: 25px;
    position: absolute;
    right: 40px;
    text-align: center;
    padding: 10px;
    padding-right: 0;
    display: block;
    width: 10px;
    height: 10px;
    pointer-events: none;

}

.input-wrapper {
    display: flex;
}

.input-area {
    text-align: center;
    height: 30px;
    font-size: 25px;
    margin-top: 200px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 2px solid;
}

.bet-area {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
    font-size: 30px;
}

.time-bet {
    background-color: transparent;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: black;
    border: 0;
    border-bottom: 2px solid;
    width: 100%;

}

.persent {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: black;
    border: 0;
    border-bottom: 2px solid;
    width: 100%;

}



.call-btn {
    font-size: 30px;
    color: white;
    display: flex;
    border-radius: 10px;
    background-color: greenyellow;
    justify-content: space-between;
    width: 125px;
    
}


.put-btn {
    background-color: red;
    font-size: 30px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    width: 125px;
    color: white;
}

.arrow i {
    font-size: 25px;
    color: white;
    margin-left: 15px;
}


input:focus {
    outline: none;
}


nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

